asgiref==3.8.1
awscli==1.32.65
boto3==1.34.65
botocore==1.34.65
colorama==0.4.6
dateandtime==0.0.7  # No newer version available
ddate==0.1.2         # No newer version available
Django==5.0.2
django-rest==0.8.7   # Last release in 2015, no updates
django-restframework==0.0.1  # Deprecated, consider removing
djangorestframework==3.15.1
docutils==0.20.1
jmespath==1.0.1
pyasn1==0.5.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
rsa==4.9
s3transfer==0.10.0
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1




